body {  background: #FFFFFF; }

input {
    font-size: 8pt;
    color: #000000;
}

select {
    font-size: 8pt;
    color: #636363;
}

td {
    font-size: 70%;
    color:#444444;
    font-family: VERDANA, geneva, arial, sans-serif;
}

p {
    font-size: 80%;
    color:#000000;
    font-family: VERDANA, geneva, arial, sans-serif;
}

a:link, a:visited {
    color:#0000FF;
    font-size: 100%;
    font-family: VERDANA, geneva, arial, sans-serif;
    text-decoration:none; 
}

a:hover {
    color:#0000FF;
    font-size: 100%;
    font-family: VERDANA, geneva, arial, sans-serif;
    text-decoration:underline;
}

a:link.ABC, a:visited.ABC {
    color:#0000A0;
    font-size: 8pt;
    padding-right:1PX;
    padding-left:1PX;
    font-family: verdana, geneva, arial, sans-serif;
    text-decoration:underline;
}

a:hover.ABC {
    color:#CC474B;
    font-size: 8pt;
    padding-right:1PX;
    padding-left:1PX;
    font-family: verdana, geneva, arial, sans-serif;
    text-decoration:none;
}

.BackTab  {
    color: #444444;
    font-size: 80%;
    font-family: Verdana, geneva, arial, sans-serif;
    background-color:#FFF0C1;
    border: 1 px solid #FFF0C1;
    border-bottom: solid #FFF0C1;
    padding-left:3px;
    padding-right:3px;
 
}

.Block {
    background: #F2F0EF;
}

.BlockTitle {
    font-size: 70%;
    font-family: VERDANA, geneva, arial, sans-serif;
    /* color:#444444; */
    color:#222222; 
    padding:8px 4px 4px 4px;
    font-weight:bold;
}

select.Category {
    width: 250px;
}

.CitationLayout  {
    background: #FFFFFF none;
    border: 1px solid #888888;
    margin-left: auto;
    margin-right:auto;
    padding: 0;
    width:600px;
    text-align: center;
}

.CitationText {
    font-size: 80%;	
    font-family: VERDANA, geneva, arial, sans-serif;
    color:#000000;
}
 
a:link.CitationText, a:visited.CitationText, a:hover.CitationText {
    color:#990000;
    text-decoration:underline;
}

.CitationTextBold {
    font-size: 80%;
    font-family: VERDANA, geneva, arial, sans-serif;
    color:#000000;
    font-weight:bold;
}
.CitationTextRed {
    font-size: 80%;
    font-family: VERDANA, geneva, arial, sans-serif;
    color:#990000;
    font-weight:bold;
}


.Footer {
    font-size: 60%;
    font-family: VERDANA, geneva, arial, sans-serif ;
    color:#636363;
    text-align:center;
    padding:8px 0px 8px 0px;
    width:100%;
}

.Form {
    font-size: 100%;
    color:#000000;
    font-family:VERDANA, geneva,arial,sans-serif;
    width:40px;
}
.FrontTab  {
    font-size: 80%;
    color: #444444;
    background-color:#FFCC33;
    font-family: Verdana, geneva, arial, sans-serif;
    border: 1px solid #FFCC33;
    border-bottom: 1px solid #FFCC33;
}
 
.GrayLine  {  background: #444444; }

.GroupTitle {
    background-color: #FFF0C1;
    font-family: VERDANA, Geneva, Arial, sans-serif;
    color:#444444;
    font-weight:bold;
}

a:link.GroupTitle , a:visited.GroupTitle {
    padding: 5px 10px 4px 10px;
    color:#444444;
}
a:hover.GroupTitle {
    color:#CC474B;
}

.Header {
    color:#444444;
    font-size: 70%;
    font-family: VERDANA, Geneva, Arial, sans-serif;
    background:#FFFFFF;
    width:100%;
    height:35PX;
    font-weight: bold;
    text-decoration:underline;
}
a:link.Header, a:visited.Header  {
    color:#444444;
    font-size: 70%;
    font-family: Verdana, Geneva,Arial, sans-serif;
    font-weight: bold;
    text-decoration:underline;
}
a:hover.Header {
   color:#F2F0EF;
   text-decoration:underline;
}
.Height{ height:100%; }

.Label {
    font-size: 70%;
    font-family: VERDANA, geneva, arial, sans-serif;
    color:#444444;
}

.LabelBold {
    font-size: 70%; 
    font-family: VERDANA, geneva, arial, sans-serif;
    color:#444444;
    font-weight: bold;
}

.LabelHighlight {
    font-size: 70%;
    font-family: VERDANA, geneva, arial, sans-serif;
    color:#444444;
    font-weight:bold;                
}

.LayerHeader {
    font-size: 12pt;
    color:#616161;
    padding-right:5PX;
    padding-left:5PX;
    padding-bottom:2PX;
    font-weight: bold;
    font-family: Verdana, geneva, arial, sans-serif;
    border-bottom: 1px solid #8C8D8C;
}

.PageTitle {
    color: #990000;
    font-size: 20px;
    font-weight: bold;
    font-family: Verdana, geneva, arial, sans-serif;
}

a:link.Results, a:visited.Results, a:hover.Results {
    font-weight: bold;
    color:#B74043;
    font-size: 9pt; 
    font-family: verdana, geneva, arial, sans-serif; 
    text-decoration:underline;
}

.TableHeader {
    font-size: 9pt;
    color:#616161;
    padding-right:5PX;
    padding-left:5PX;
    padding-bottom:2PX;
    font-weight: bold;
    font-family: Verdana, geneva, arial, sans-serif;
    border-bottom: 1px solid #8C8D8C;
}

.TableRow {
    font-size: 8pt;
    color:#414241;
    font-family: Verdana, geneva, arial, sans-serif;
    padding:2PX 5PX 2PX 5PX;
    border-bottom: 1px solid #CCCCCC;
}

.Threshold {
    color: #AA2A2A;
}

